<form fxFlex fxLayout="column" [formGroup]="rForm" (submit)="submit()">


<mat-form-field>
    <mat-label>Centro educativo</mat-label>
    <mat-select [compareWith]="compareInstitution" required formControlName="institution" id="institution" name="institution">
      <mat-option *ngFor="let institution of institutions" [value]="institution">
        {{institution.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="rForm.controls.institution.errors">El centro educativo es obligatorio</mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Familia profesional</mat-label>
    <mat-select [compareWith]="compareCategory" required formControlName="category" id="category" name="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="rForm.controls.category.errors">La familia profesional es obligatoria</mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Nivel</mat-label>
    <mat-select [compareWith]="compareGrade" required formControlName="grade" id="grade" name="grade">
      <mat-option *ngFor="let grade of grades" [value]="grade">
        {{grade.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="rForm.controls.grade.errors">El nivel es obligatorio</mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Título</mat-label>
    <mat-select [compareWith]="compareTitle" required formControlName="title" id="title" name="title">
      <mat-option *ngFor="let title of titles" [value]="title">
        {{title.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="rForm.controls.title.errors">El título es obligatorio</mat-error>

  </mat-form-field>

  <mat-form-field>
    <input required matInput [matDatepicker]="picker" placeholder="Fecha de obtención del título" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="rForm.controls.date.errors">Debes indicar una fecha válida</mat-error>
  </mat-form-field>



  <mat-checkbox formControlName="bilingue" id="bilingue">Bilingüe</mat-checkbox>
  <mat-checkbox formControlName="dual" id="dual">Dual</mat-checkbox>
  <div fxFlex fxLayout="row" fxFlexAlign="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
      Guardar
    </button>
  </div>

</form>
