<app-menu></app-menu>
<form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">


        <div class="form-group" >
            <label for="puesto">Puesto</label>
            <input class="col-sm-6" type="text" name="puesto" id="puesto" formControlName="puesto">

        </div>
        <div class="form-group" >
            <label for="descripcion">Descripción</label>
            <input class="col-sm-6" type="text" name="descripcion" id="descripcion" formControlName="descripcion">

        </div>
        <div class="col-xs-6">
            <label for="provincia">Provincia</label>
            <select class="form-control" name="provincia" id="provincia" type="text" formControlName="provincia">
                <option [value]="provincia" *ngFor="let provincia of provincias ">{{provincia}}</option>
            </select>
        </div>
        <div class="col-xs-6">
            <label for="municipio">Municipio</label>
            <input class="form-control" name="municipio" id="municipio" type="text" formControlName="municipio">
        </div>

        <div class="form-group">
            <label for="familia">Familia profesional</label>
            <select name="familia" id="familia" formControlName="familia_profesional">
                <option [value]="familia" *ngFor="let familia of familias_profesionales">{{familia}}</option>
            </select>
        </div>

    </div>
    <button type="submit" [disabled]="offerForm.invalid">Guardar</button>
</form>

<section *ngIf="!nuevaOferta">
    <h5>Candidatos</h5>
    <table class="borde letra_pequena">
        <thead>
            <tr>
                <th class="borde">Candidato</th>
                <th class="borde">Estudios</th>

                <th class="borde" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let suscriptor of suscriptores">
                <td class="borde">{{suscriptor.nombre}}</td>
                <td class="borde">{{suscriptor.estudios.join (', ')}}</td>
                <td class="borde"><a (click)="seleccionar(suscriptor)" >Seleccionar</a></td>
                <td class="borde"><a (click)="descartar(suscriptor)" >Descartar</a></td>

            </tr>
        </tbody>
    </table>
</section>
<section *ngIf="!nuevaOferta">
    <h5>Seleccionados</h5>
    <table class="borde letra_pequena">
        <thead>
        <tr>
            <th class="borde">Candidato</th>
            <th class="borde">Estudios</th>
            <th class="borde">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let suscriptor of seleccionados">
            <td class="borde">{{suscriptor.nombre}}</td>
            <td class="borde">{{suscriptor.estudios.join (', ')}}</td>
            <td class="borde"><a (click)="descartar(suscriptor)" >Descartar</a></td>
        </tr>
        </tbody>
    </table>
</section>

<section *ngIf="!nuevaOferta">
    <h5>Descartados</h5>
    <table class="borde letra_pequena">
        <thead>
        <tr>
            <th class="borde">Candidato</th>
            <th class="borde">Estudios</th>
            <th class="borde">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let suscriptor of descartados">
            <td class="borde">{{suscriptor.nombre}}</td>
            <td class="borde">{{suscriptor.estudios.join (', ')}}</td>
            <td class="borde"><a (click)="seleccionar(suscriptor)" >Seleccionar</a></td>
        </tr>
        </tbody>
    </table>
</section>
