<section id="ofertas de empleo">
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <th>Puesto</th>
        <th>Empresa</th>
        <th>Familia profesional</th>
        <th>Fecha</th>
        <th>Provincia</th>
        <th>Acciones</th>
        </thead>
        <tbody>

        <tr  *ngFor="let oferta of ofertas">
            <td>{{oferta.puesto}}</td>
            <td>{{oferta.empresa}}</td>
            <td>{{oferta.familia_profesional}}</td>
            <td>{{oferta.fecha}}</td>
            <td>{{oferta.provincia}}</td>
            <td><a [routerLink]="['offers-company-modify', {oferta: oferta.id}]">Editar</a></td>
            <td><a (click)="eliminar(oferta)">Eliminar</a></td>

        </tr>

        </tbody>
    </table>
    <a [routerLink]="['offers-company-modify']">Nueva oferta</a>
</section>
