<section id="ofertas de empleo">
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <th>Puesto</th>
        <th>Empresa</th>
        <th>Familia profesional</th>
        <th>Fecha</th>
        <th>Provincia</th>
        </thead>
        <tbody>

        <tr  *ngFor="let oferta of ofertas"  (click)="setOferta(oferta)">
            <td>{{oferta.puesto}}</td>
            <td>{{oferta.empresa}}</td>
            <td>{{oferta.familia_profesional}}</td>
            <td>{{oferta.fecha}}</td>
            <td>{{oferta.provincia}}</td>
        </tr>

        </tbody>
    </table>
</section>


