<app-menu></app-menu>
<h2>
  Ofertas de empleo
</h2>
<form>
  <div>
      <h5>Oferta</h5>
    <div>
        <label class="label_titulo">Empresa:</label>
        <label>{{oferta.empresa}}</label>
     </div>
      <div>
        <label class="label_titulo">Puesto:</label>
        <label>{{oferta.puesto}}</label>
      </div>
      <div>
        <label class="label_titulo">Descripción:</label>
        <label>{{oferta.descripcion}}</label>
      </div>
  </div>
  <div>
      <h5>Dirección</h5>
      <div>
        <label class="label_titulo">Provincia:</label>
        <label>{{oferta.provincia}}</label>

      </div>

      <div>
        <label class="label_titulo">Municipio:</label>
        <label>{{oferta.municipio}}</label>

      </div>
  </div>
  <div>
      <h5>Destinado a persona de</h5>
      <div>
        <label class="label_titulo">Familia:</label>
        <label>{{oferta.familia_profesional}}</label>

      </div>

      <div>
        <table>
          <thead>
            <th>Titulo</th>
          </thead>
          <tbody>
          <tr *ngFor="let titulo of titulos">
              <td class="letra_pequena borde">{{titulo}}</td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
  <ul *ngFor="let s of oferta.suscriptores">
    <li>{{s}}</li>
  </ul>
  <button *ngIf="!inscrito" (click)="inscribir()">Inscribirme</button>
  <button *ngIf="inscrito" (click)="borrar()">Borrarme</button>

</form>

