
<div id="contenido">

  <section id="datos">
    <table>


      <tbody>
      <tr>
        <th>Nombre Comercial</th>
        <td>{{userProfile.name}}</td>

      </tr>
      <tr>
        <th>Razón Social</th>
        <td>{{userProfile.surname}}</td>

      </tr>
      <tr>
        <th>CIF</th>
        <td>{{userProfile.documentNumber}}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{userProfile.address.street}}</td>
      </tr>
      <tr>
        <th>Provincia</th>
        <td>{{userProfile.address.province.name}}</td>

      </tr>
      <tr>
        <th>Municipio</th>
        <td>{{userProfile.address.municipe.name}}</td>

      </tr>
      <tr>
        <th>URL</th>
        <td>{{userProfile.name}}</td>

      </tr>
      <tr>
        <th>Persona de contacto</th>
        <td>{{userProfile.name + " " + userProfile.surname}}</td>

      </tr>
      <tr>
        <th>Teléfono de contacto</th>
        <td>{{userProfile.phone}}</td>

      </tr>
      <tr>
        <th>Email de contacto</th>
        <td>{{userProfile.email}}</td>

      </tr>
      </tbody>


    </table>
    <a [routerLink]="['/admin/profile/profile-company/account/profile-company-modify']">Modificar</a>
  </section>



</div>
