
<div id="contenido">

  <section id="datos">
    <table>

      <tbody>
      <tr>
        <th>Nombre Comercial</th>
        <td>{{userProfile.nombre_comercial}}</td>

      </tr>
      <tr>
        <th>Razón Social</th>
        <td>{{userProfile.razon_social}}</td>

      </tr>
      <tr>
        <th>CIF</th>
        <td>{{userProfile.num_documento}}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{userProfile.direccion}}</td>

      </tr>
      <tr>
        <th>Provincia</th>
        <td>{{userProfile.provincia}}</td>

      </tr>
      <tr>
        <th>Municipio</th>
        <td>{{userProfile.municipio}}</td>

      </tr>
      <tr>
        <th>URL</th>
        <td>{{userProfile.url}}</td>

      </tr>
      <tr>
        <th>Persona de contacto</th>
        <td>{{userProfile.datos_contacto.nombre + " " + userProfile.datos_contacto.apellidos}}</td>

      </tr>
      <tr>
        <th>Teléfono de contacto</th>
        <td>{{userProfile.datos_contacto.telefono}}</td>

      </tr>
      <tr>
        <th>Email de contacto</th>
        <td>{{userProfile.datos_contacto.email}}</td>

      </tr>
      </tbody>


    </table>
    <a [routerLink]="['/admin/profile/profile-company/modify']">Modificar</a>
  </section>



</div>
