<app-menu></app-menu>
<form [formGroup]="profileStudentForm" (ngSubmit)="onSubmit()">
    <div class="form-group" name="datos_personales" formGroupName="datosPersonales">
        <div>
            <a><img [src]="userProfile.avatar_name" /></a>
        </div>
        <h3>Datos personales</h3>

        <div class="form-group row">
            <div class="errores" *ngIf="profileStudentForm.controls.datosPersonales.controls.nombre.errors">
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.nombre.errors.required" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                 El nombre es obligatorio
                </div>
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.nombre.errors.pattern" class="alert alert-danger">
                    El nombre tiene formato incorrecto
                </div>
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.nombre.errors.minLength" class="alert alert-danger">
                    El nombre es demasiado pequeño
                </div>
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.nombre.errors.maxLength" class="alert alert-danger">
                    El nombre es demasiado largo
                </div>
            </div>
            <div class="col-xs-6">

                <label for="nombre" class="control-label">Nombre</label>
                <input class="form-control" name="nombre" id="nombre" type="text" formControlName="nombre">
            </div>
            <div class="col-xs-6">
                <div class="errores"  *ngIf="profileStudentForm.controls.datosPersonales.controls.apellidos.errors">
                    <div *ngIf="profileStudentForm.controls.datosPersonales.controls.apellidos.errors.required" class="alert alert-danger">
                        Los apellidos son obligatorios
                    </div>
                    <div *ngIf="profileStudentForm.controls.datosPersonales.controls.apellidos.errors.pattern" class="alert alert-danger">
                        Los apellidos tienen formato incorrecto
                    </div>
                    <div *ngIf="profileStudentForm.controls.datosPersonales.controls.apellidos.errors.minLength" class="alert alert-danger">
                        Los apellidos son demasiado pequeños
                    </div>
                    <div *ngIf="profileStudentForm.controls.datosPersonales.controls.apellidos.errors.maxLength" class="alert alert-danger">
                        Los apellidos son demasiado largos
                    </div>
                </div>
                <label class="control-label" for="apellidos">Apellidos</label>
                <input class="form-control" name="apellidos" id="apellidos" type="text" formControlName="apellidos">
            </div>
        </div>
        <div class="form-group row">

            <div class="col-xs-6">
                <div class="errores"  *ngIf="profileStudentForm.controls.datosPersonales.controls.fecha_nacimiento.errors">
                    <div *ngIf="profileStudentForm.controls.datosPersonales.controls.fecha_nacimiento.errors.required" class="alert alert-danger">
                        Fecha de nacimiento es obligatoria
                    </div>
                    <div *ngIf="profileStudentForm.controls.datosPersonales.controls.fecha_nacimiento.errors.pattern" class="alert alert-danger">
                        La fecha de nacimiento tiene un formato incorrecto. Debe ser (DD/MM/YYYY)
                    </div>

                </div>

                <label class="control-label" for="fecha_nacimiento">Fecha de nacimiento</label>
                <input class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" type="text"
                       formControlName="fecha_nacimiento">
            </div>
        </div>
        <div class="form-group row">
        <div class="col-xs-6">
            <div class="errores"  *ngIf="profileStudentForm.controls.datosPersonales.controls.telefono.errors">
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.telefono.errors.required" class="alert alert-danger">
                    El teléfono es obligatorio
                </div>
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.telefono.errors.pattern" class="alert alert-danger">
                    El teléfono solamente puede contener números
                </div>

            </div>
            <label class="control-label" for="telefono">Teléfono</label>
            <div class="errores"  *ngIf="profileStudentForm.controls.datosPersonales.controls.telefono2.errors">
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.telefono2.errors.pattern" class="alert alert-danger">
                    El teléfono alternativo solamente puede contener números
                </div>

            </div>
            <input class="form-control " name="telefono" id="telefono" type="text" formControlName="telefono">
        </div>
        <div class="col-xs-6">
            <label class="control-label" for="telefono2">Teléfono alternativo</label>
            <input class="form-control " name="telefono2" id="telefono2" type="text" formControlName="telefono2">
        </div>
        </div>
        <div class="form-group row">
        <div class="col-xs-6">
            <label class="control-label" for="tipo_documento">Tipo de documento</label>
            <select class="form-control" (change)="formControlValueChanged()" name="tipo_documento" id="tipo_documento" formControlName="tipo_documento">
                <option [value]= "tipo_documento" *ngFor="let tipo_documento of tipos_documento ">{{tipo_documento}}</option>
            </select>
        </div>
        <div class="col-xs-6">
            <div class="errores"  *ngIf="profileStudentForm.controls.datosPersonales.controls.num_documento.errors">
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.num_documento.errors.required" class="alert alert-danger">
                    El Número de documento es obligatorio
                </div>
                <div *ngIf="profileStudentForm.controls.datosPersonales.controls.num_documento.errors.incorrecto" class="alert alert-danger">
                    El Número de documento tiene un formato incorrecto
                </div>
            </div>
            <label class="control-label" for="num_documento">Número de documento</label>
            <input class="form-control " name="num_documento" id="num_documento" type="text"
                   formControlName="num_documento">
        </div>
        </div>
    </div>
    <div class="form-group" formGroupName="direccion">
        <h3>Dirección</h3>
        <div class="form-group row">
            <div class="errores"  *ngIf="profileStudentForm.controls.direccion.controls.direccion.errors">
                <div *ngIf="profileStudentForm.controls.direccion.controls.direccion.errors.required" class="alert alert-danger">
                    La dirección es obligatoria
                </div>

            </div>
        <div class="col-xs-12">
            <label for="direccion">Dirección</label>
            <input class="form-control" name="direccion" id="direccion" type="text" formControlName="direccion">
        </div>
        </div>
        <div class="form-group row">
        <div class="col-xs-6">
            <label for="provincia">Provincia</label>
            <select (change)="provinciaChange(profileStudentForm.controls.direccion.controls.provincia.value)" class="form-control" name="provincia" id="provincia" type="text" formControlName="provincia">
                <option [value]="provincia" *ngFor="let provincia of provincias ">{{provincia}}</option>
            </select>
        </div>
        <div class="col-xs-6">
            <label for="municipio">Municipio</label>
            <select  class="form-control" name="municipio" id="municipio" type="text" formControlName="municipio">
                <option [value]="municipio" *ngFor="let municipio of municipios ">{{municipio}}</option>
            </select>
        </div>
        </div>

    </div>
    <div class="form-group" formGroupName="mas_datos">

        <h3>Más datos</h3>
        <div class="form-group row">
        <div class="col-xs-12">
            <label for="permisos">Permisos conducir</label>
            <input class="form-control" name="permisos" id="permisos" type="text" formControlName="permisos_conducir">
        </div>
        </div>
        <div>
                <label for="sobre_mi">Sobre mi</label>
                <textarea class="form-control" name="sobre_mi" id="sobre_mi" type="text" formControlName="sobre_mi" ></textarea>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                <label for="otras_competencias">Otras competencias</label>
                <textarea class="form-control" name="otras_competencias" id="otras_competencias" type="text" formControlName="otras_competencias" ></textarea>
            </div>

        </div>

    </div>
    <button type="submit" [disabled]="profileStudentForm.invalid">Guardar</button>

</form>
