<div *ngIf="user" class="div_profile">
  <div class="datos_personales" fxFlex fxLayout="row">
    <mat-card>
      <img mat-card-image [src]="user.avatar_hash">
      <mat-card-header style="justify-content: center">
        <mat-card-title>
          {{user.name + ' ' + user.surname}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>

    <div class="pl15 datos-personales">
      <mat-list>
        <mat-list-item> Email: {{user.email}} </mat-list-item>
        <mat-list-item> Fecha de nacimiento: {{user.birthdate | date:'dd-MM-yyyy'}}  </mat-list-item>
        <mat-list-item> Teléfono: {{user.phone}}  </mat-list-item>
        <mat-list-item> NIF/NIE: {{user.documentNumber}}  </mat-list-item>
        <mat-list-item> Permisos de conducir: {{user.license}} </mat-list-item>
        <mat-list-item> Dirección:
          {{user.address.street + ", " + user.address.municipe.name + ". " + user.address.province.name}}
        </mat-list-item>
      </mat-list>
      <button mat-raised-button class="btn-modificar" color="primary" [routerLink]="['/admin/profile/profile-student/account']">Modificar</button>

    </div>
  </div>


  <div class="studies">
    <h3>Formación académica</h3>
    <table mat-table [dataSource]="user.studies" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Tipo  </th>
        <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Nivel  </th>
        <td mat-cell *matCellDef="let element"> {{element.grade?.name }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título  </th>
        <td mat-cell *matCellDef="let element"> {{element.title.name || element.title }} </td>
      </ng-container>

      <ng-container matColumnDef="institution">
        <th mat-header-cell *matHeaderCellDef> Centro  </th>
        <td mat-cell *matCellDef="let element"> {{element.institution.name  || element.institution}} </td>
      </ng-container>

      <ng-container matColumnDef="certificate">
        <th mat-header-cell *matHeaderCellDef> Certificado  </th>
        <td mat-cell *matCellDef="let element"> {{element.certificate ? 'Si' : 'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="bilingue">
        <th mat-header-cell *matHeaderCellDef> Bilingüe  </th>
        <td mat-cell *matCellDef="let element"> {{element.bilingue ? 'Si' : 'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="dual">
        <th mat-header-cell *matHeaderCellDef> Dual  </th>
        <td mat-cell *matCellDef="let element"> {{element.dual ? 'Si' : 'No'}} </td>
      </ng-container>
ç
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha  </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar  </th>
        <td mat-cell *matCellDef="let study">
          <a class="btn-acciones" mat-raised-button [routerLink]="['/admin/profile/profile-student/study', study.uid]">Editar
          </a>

      </ng-container>
      <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Borrar  </th>
      <td mat-cell *matCellDef="let study">
        <a mat-raised-button class="btn-borrar" color="warn" (click)="deleteStudy(study.uid)">Borrar</a>

      </td>

    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <a class="btn-nuevo" mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/study']">Nueva formación</a>

  </div>

  <div class="languages">
    <h3>Idiomas</h3>
    <table mat-table [dataSource]="user.languages" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Nivel  </th>
        <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef> Idioma  </th>
        <td mat-cell *matCellDef="let element"> {{element.name.name}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha  </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar  </th>
        <td mat-cell *matCellDef="let language">
          <a class="btn-acciones" mat-raised-button [routerLink]="['/admin/profile/profile-student/language', language.uid]">Editar
        </a>

        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Borrar  </th>
        <td mat-cell *matCellDef="let language">

          <a mat-raised-button class="btn-borrar" color="warn" (click)="deleteLanguage(language.uid)">Borrar</a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsLanguages"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLanguages;"></tr>
    </table>
    <a class="btn-nuevo" mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/language']">Nuevo idioma</a>


  </div>

</div>
<div *ngIf="!user" class="contenido">
  <p>Datos están siendo cargados...</p>
</div>
