<div *ngIf="user" class="div_profile">
  <div class="datos_personales" fxFlex fxLayout="row">
    <mat-card>
      <img mat-card-image [src]="user.avatar_hash">
      <mat-card-header style="justify-content: center">
        <mat-card-title>
          {{user.name + ' ' + user.surname}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>

    <div class="pl15 datos-personales">
      <mat-list>
        <mat-list-item> Email: {{user.email}} </mat-list-item>
        <mat-list-item> Fecha de nacimiento: {{user.birthdate | date:'dd-MM-yyyy'}}  </mat-list-item>
        <mat-list-item> Teléfono: {{user.phone}}  </mat-list-item>
        <mat-list-item> NIF/NIE: {{user.documentNumber}}  </mat-list-item>
        <mat-list-item> Permisos de conducir: {{user.license}}  </mat-list-item>
        <mat-list-item> Dirección:
          {{user.address.street + ", " + user.address.municipe.name + ". " + user.address.province.name}}
        </mat-list-item>
      </mat-list>
      <button mat-raised-button class="btn-modificar" color="primary" [routerLink]="['/admin/profile/profile-student/account']">Modificar</button>

    </div>
  </div>


  <div class="studies">
    <h3>Formación académica</h3>
    <table mat-table [dataSource]="user.studies" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Tipo  </th>
        <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Nivel  </th>
        <td mat-cell *matCellDef="let element"> {{element.grade?.name }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título  </th>
        <td mat-cell *matCellDef="let element"> {{element.title.name || element.title }} </td>
      </ng-container>

      <ng-container matColumnDef="institution">
        <th mat-header-cell *matHeaderCellDef> Centro  </th>
        <td mat-cell *matCellDef="let element"> {{element.institution.name  || element.institution}} </td>
      </ng-container>

      <ng-container matColumnDef="certificate">
        <th mat-header-cell *matHeaderCellDef> Certificado  </th>
        <td mat-cell *matCellDef="let element"> {{element.certificate ? 'Si' : 'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="bilingue">
        <th mat-header-cell *matHeaderCellDef> Bilingüe  </th>
        <td mat-cell *matCellDef="let element"> {{element.bilingue ? 'Si' : 'No'}} </td>
      </ng-container>

      <ng-container matColumnDef="dual">
        <th mat-header-cell *matHeaderCellDef> Dual  </th>
        <td mat-cell *matCellDef="let element"> {{element.dual ? 'Si' : 'No'}} </td>
      </ng-container>
ç
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha  </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar  </th>
        <td mat-cell *matCellDef="let study">
          <a class="btn-acciones" mat-raised-button [routerLink]="['/admin/profile/profile-student/study', study.uid]">Editar
          </a>

      </ng-container>
      <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Borrar  </th>
      <td mat-cell *matCellDef="let study">
        <a mat-raised-button class="btn-borrar" color="warn" (click)="deleteStudy(study.uid)">Borrar</a>

      </td>

    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <a class="btn-nuevo" mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/study']">Nueva formación</a>

  </div>

  <div class="languages">
    <h3>Idiomas</h3>
    <table mat-table [dataSource]="user.languages" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Nivel  </th>
        <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef> Idioma  </th>
        <td mat-cell *matCellDef="let element"> {{element.name.name}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha  </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd-MM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar  </th>
        <td mat-cell *matCellDef="let language">
          <a class="btn-acciones" mat-raised-button [routerLink]="['/admin/profile/profile-student/language', language.uid]">Editar
        </a>

        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Borrar  </th>
        <td mat-cell *matCellDef="let language">

          <a mat-raised-button class="btn-borrar" color="warn" (click)="deleteLanguage(language.uid)">Borrar</a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsLanguages"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLanguages;"></tr>
    </table>
    <a class="btn-nuevo" mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/language']">Nuevo idioma</a>


  </div>





  <!--<div class="float-left" id="foto-perfil">-->
    <!--<div>-->
      <!--<img-->
        <!--class="img-fluid img-profile rounded-circle mx-auto mb-2"-->
        <!--src="{{ user.avatar_hash }}"-->
      <!--/>-->
    <!--</div>-->
    <!--<div class="text-center pr-5">-->
      <!--{{ user.name + ' ' + user.surname }}-->
    <!--</div>-->
  <!--</div>-->

  <!--<section id="datosPersonales" class="float-left">-->
    <!--<table>-->
      <!--<tbody>-->
        <!--<tr>-->
          <!--<th>Email</th>-->
          <!--<td>{{ user.email }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>Fecha de nacimiento</th>-->
          <!--<td>{{ user.birthdate }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>Tel&eacute;fono</th>-->
          <!--<td>{{ user.phone }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>NIF/NIE</th>-->
          <!--<td>{{ user.documentNumber }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>Permisos de conducir</th>-->
          <!--<td>{{ user.license }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th>Direccion</th>-->
          <!--<td>{{ user.address | json }}</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <!--<a [routerLink]="['/admin/profile/profile-student/account']">Modificar</a>-->
  <!--</section>-->
  <!--<div id="otra_info" class="float-left">-->
    <!--<form>-->
      <!--<div class="float-left">-->
        <!--<label for="about-me">Acerca de mi...</label><br />-->
        <!--<textarea readonly="true" id="about-me" name="about-me">{{-->
          <!--user.aboutMe-->
        <!--}}</textarea>-->
      <!--</div>-->
      <!--<div class="float-left">-->
        <!--<label for="other">Otras competencias</label> <br />-->

        <!--<textarea readonly="true" id="other" name="other">{{-->
          <!--user.otherCompetences-->
        <!--}}</textarea>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

  <!--<section style="clear:both;padding-bottom:4em;"></section>-->

  <!--<h2>Formaci&oacute;n acad&eacute;mica</h2>-->
  <!--<section id="formacion_academica">-->
    <!--<table class="table table-bordered table-striped">-->
      <!--<thead class="thead-light">-->
        <!--<th>Tipo</th>-->
        <!--<th>Nivel</th>-->
        <!--<th>T&iacute;tulo</th>-->
        <!--<th>Centro</th>-->
        <!--<th>Fecha</th>-->
        <!--<th>Certificado</th>-->
        <!--<th>Bilingüe</th>-->
        <!--<th>Dual</th>-->
        <!--<th>Acciones</th>-->
      <!--</thead>-->
      <!--<tbody>-->
        <!--<tr *ngFor="let study of user.studies; let i = index">-->
          <!--<td>{{ study.level.name }}</td>-->
          <!--<td>{{ study.grade?.name }}</td>-->

          <!--<td>{{ study.title.name || study.title }}</td>-->
          <!--<td>{{ study.institution.name || study.institution }}</td>-->
          <!--<td>{{ study.date }}</td>-->
          <!--<td>{{ study.certificate ? 'Sí' : 'No' }}</td>-->
          <!--<td>{{ study.bilingue ? 'Sí' : 'No' }}</td>-->
          <!--<td>{{ study.dual ? 'Sí' : 'No' }}</td>-->

          <!--<td>-->
            <!--<a-->
              <!--[routerLink]="['/admin/profile/profile-student/study', study.uid]"-->
              <!--&gt;Editar</a-->
            <!--&gt;-->
            <!--|-->
            <!--<a style="cursor:pointer" (click)="deleteStudy(study.uid)"-->
              <!--&gt;Borrar</a-->
            <!--&gt;-->
          <!--</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <!--<a [routerLink]="['/admin/profile/profile-student/study']"-->
      <!--&gt;Nueva formación</a-->
    <!--&gt;-->
  <!--</section>-->

  <!--<h2>Idiomas</h2>-->
  <!--<section id="languages">-->
    <!--<table class="table table-bordered table-striped">-->
      <!--<thead class="thead-light">-->
        <!--<th>Nivel</th>-->
        <!--<th>Idioma</th>-->
        <!--<th>Fecha</th>-->
        <!--<th>Acciones</th>-->
      <!--</thead>-->
      <!--<tbody>-->
        <!--<tr *ngFor="let language of user.languages">-->
          <!--<td>{{ language.level.name }}</td>-->
          <!--<td>{{ language.name.name }}</td>-->
          <!--<td>{{ language.date }}</td>-->
          <!--<td>-->
            <!--<a-->
              <!--[routerLink]="[-->
                <!--'/admin/profile/profile-student/language',-->
                <!--language.uid-->
              <!--]"-->
              <!--&gt;Editar</a-->
            <!--&gt;-->
            <!--|-->
            <!--<a style="cursor:pointer" (click)="deleteLanguage(language.uid)"-->
              <!--&gt;Borrar</a-->
            <!--&gt;-->
          <!--</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <!--<a [routerLink]="['/admin/profile/profile-student/language']"-->
      <!--&gt;Nuevo idioma</a-->
    <!--&gt;-->
  <!--</section>-->
</div>
<div *ngIf="!user" class="contenido">
  <p>Datos están siendo cargados...</p>
</div>
