<app-menu></app-menu>

<form [formGroup]="langForm" (ngSubmit)="onSubmit()">
    <div class="form-group">


        <div class="form-group" >
            <label for="idioma">Idioma</label>
            <select (change)="compruebaIdioma($event)" name="idioma" id="idioma" formControlName="idioma">
                <option [value]= "idioma" *ngFor="let idioma of idiomas">{{idioma}}</option>
                <option [selected]="seleccionadoOtro" value="">Otro</option>

            </select>

    <input type="text" class="col-sm-4" *ngIf="seleccionadoOtro" formControlName="idioma">

        </div>

        <div class="form-group">
        <label for="nivel">Nivel</label>
        <select  name="nivel" id="nivel" formControlName="nivel" >
            <option [value]= "nivel" *ngFor="let nivel of niveles">{{nivel}}</option>
        </select>
    </div>
        <div class="form-group">
            <label for="fecha">Fecha de obtención del título (DD/MM/YYYY)</label>
            <input type="text"  name="fecha" id="fecha" formControlName="fecha" >

        </div>

    </div>
    <button type="submit" [disabled]="langForm.invalid">Guardar</button>

</form>
<style type="css">

</style>
