<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <mat-toolbar position="start">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/profile">Profile</a>
            <a mat-list-item routerLink="/admin/offers">Offers</a>
            <a mat-list-item routerLink="/admin/dashboard">Config</a>
            <a mat-list-item routerLink="/admin/offers/my-offers">My offers</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="fix-nav"  color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div fxFlex fxLayout="row-reverse">
            <a mat-button routerLink="/"><span>Logout</span></a>
            <a mat-button routerLink="/admin/dashboard"><span>Dashboard</span></a>
            </div>

        </mat-toolbar>
        <!-- Add Content Here -->

        <div class="main-container">
            <div class="div-principal">
                <router-outlet></router-outlet>
                <footer class="footer">
                    <p>Trabajo realizado por Sara Paz Fernández</p>
                    <p>Asignatura: Desarrollo Front-end Avanzado</p>
                </footer>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



<!--<mat-sidenav-container class="sidenav-container fixed-top">-->
    <!--<mat-sidenav #drawer class="sidenav" fixedInViewport="true" role="navigation" mode="side"-->
                 <!--opened>-->
        <!--<mat-toolbar color="primary">Menu</mat-toolbar>-->
        <!--<mat-nav-list>-->
            <!--<a mat-list-item routerLink="/admin/profile">Profile</a>-->
            <!--<a mat-list-item routerLink="/admin/offers">Offers</a>-->
            <!--<a mat-list-item routerLink="/admin/config">Config</a>-->
            <!--<a mat-list-item routerLink="/admin/offers/my-offers">My offers</a>-->
        <!--</mat-nav-list>-->
    <!--</mat-sidenav>-->
    <!--<mat-sidenav-content fxFlex fxLayout="column">-->
        <!--<mat-toolbar color="primary" class="fix-nav"  fxLayout="row-reverse" >-->
            <!--&lt;!&ndash;<button type="button" aria-label="Toggle sidenav" mat-icon-button>&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>()"&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--<div >-->
                <!--<a mat-button routerLink="/"><span>Logout</span></a>-->
                <!--<a mat-button routerLink="/admin/"><span>Dashboard</span></a>-->
                <!--</div>-->
            <!--<span class="nav-spacer"></span>-->
            <!--&lt;!&ndash;-->
            <!--<mat-icon class="nav-icon">person</mat-icon>-->
            <!--<span class="nav-spacer"></span>-->
            <!--<mat-icon class="nav-icon">notifications</mat-icon>-->
            <!--<mat-icon class="nav-icon">apps</mat-icon>-->
            <!--<mat-icon class="nav-icon">fullscreen</mat-icon>-->
            <!--<mat-icon class="nav-icon">flag</mat-icon>-->
            <!--<mat-icon class="nav-icon">search</mat-icon>-->
            <!--<mat-icon class="nav-icon">account_circle</mat-icon> &ndash;&gt;-->


        <!--</mat-toolbar>-->
        <!--<div class="main-container"><div class="div-principal"><router-outlet></router-outlet></div>-->

            <!--<footer class="footer">-->
                <!--<p>Trabajo realizado por Sara Paz Fernández</p>-->
                <!--<p>Asignatura: Desarrollo Front-end Avanzado</p>-->
            <!--</footer>-->
        <!--</div>-->

    <!--</mat-sidenav-content>-->

<!--</mat-sidenav-container>-->

