/* You can add global styles to this file, and also import other style files */
.letra_pequena{
  font-size:11px;
}

.borde{
  border:1px solid #000;
}
.label_titulo{
  padding-right:2em;
  font-weight: bold;

}
.padding-abajo{
  margin-bottom:2em;
}

.container{
  padding-top:0;
  margin-top:0 !important;

}
.navbar{
  margin-left: -40px;
}
.errores{
  font-size:small;
}
